* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.scanned-container {
  position: absolute;
  width: 900px;
  height: 60%;
  top: 53%;
  left: 200px;
  transform: translateY(-50%);
  /* background-color: orange; */
  overflow-y: scroll;
}

.scanned-item {
  padding: 30px; 
  border: 3px solid black;
  border-radius: 30px;
  font-size: 35px;
  font-family: Arial;
  width: calc(800px); 
  margin: 30px auto;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #FBE681;
}

#counter {
    font-size: 24px;
    color: #333;
    position: absolute;
    bottom: 5px;
    left: 70px;
}

.green-button {
    background-color: #4CAF50; /* Green background */
    border: none;             /* No border */
    color: white;             /* White text */
    padding: 15px 32px;       /* Padding */
    text-align: center;       /* Center text */
    text-decoration: none;    /* No underline */
    display: inline-block;    /* Inline block */
    font-size: 35px;          /* Font size */
    margin: 4px 2px;          /* Margin */
    cursor: pointer;          /* Pointer cursor on hover */
    border-radius: 8px;       /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect */
    position: absolute;
    top: 1330px;
    left: 2000px;
    transform: translate(-50%, -50%);
}

.green-button:hover {
    background-color: white;  /* White background on hover */
    color: black;             /* Black text on hover */
}

.blue-button {
    background-color: #008CBA; /* Blue background */
    border: none;             /* No border */
    color: white;             /* White text */
    padding: 15px 32px;       /* Padding */
    text-align: center;       /* Center text */
    text-decoration: none;    /* No underline */
    display: inline-block;    /* Inline block */
    font-size: 35px;          /* Font size */
    margin: 4px 2px;          /* Margin */
    cursor: pointer;          /* Pointer cursor on hover */
    border-radius: 8px;       /* Rounded corners */
    transition-duration: 0.4s; /* Transition effect */
    position: absolute;
    top: 1330px;
    left: 2300px;
    transform: translate(-50%, -50%);
}

.blue-button:hover {
    background-color: white;  /* White background on hover */
    color: black;             /* Black text on hover */
}

#counter {
color: white;
font-size: 45px;
padding: 30px;
margin: 65px;
border-radius: 20px;
background-color: #362F09;
top: 1200px;
left: 190px;
}